*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/* global style start  */
.btn{
    background-color: tomato;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    
   border: rgb(0, 255, 21)(133, 95, 95);
   font-weight: 100%;
   padding: 10px;
   border-radius: 20px;
   margin-top: 25px;
   margin-bottom: 25px;
   
 text-transform: uppercase;
}
/* global style end  */
/* header section style start  */

.header_section {
    padding: 80px 120px;
    height: 600px;
}
.header_section .left{
    float: left;
    width: 50%;
}
.header_section .left h1{
font-size: 80px;
}
.header_section .left h1 span{
    color: blue;
    font-size: 100px;
}
.header_section .left p{
    letter-spacing: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: crimson;
}
 .header_section .right{
     float: right;
     width: 50%;
 }
 .header_section .right img{
border-radius: 50%;
width: 500px;
 }
 /* header section style end  */


 /* breakfast section start  */


 .breakfast_section{
     width: 100%;
     height: 600px;
     background-color: lavenderblush;
     padding: 5% 10%;

 }
 .card_container{
   background-color: white;
     width: 30%;
     float: left;
     height: 400px;
     padding: 4% 5%;
position:absolute;
margin-top: 35px;
     
     
 }

 .breakfast_section .card_image{
     float: right;
     width: 70%;
     
 }

 .breakfast_section .card_image img{ 
     width: 100%;
     height: 475px;
 }
  /* breakfast_section style end  */


  /* fast food section start  */


  .fast_food{
      width: 100%;
      height: 600px;
  }
  
  .fastfood_section{
    height: 650px;
    width: 100%;
    background-image: url(./media/fastfood.jpg);
    background-position: center;
    background-size: cover;
  }
  .fastfood_content{
      padding: 200px 200px;

  }
  .fastfood_content h1{
      font-weight: 700px;
      height: 70px;
      font-family: 'Times New Roman', Times, serif;
      color: white;
      font-size: 70px;
  }
  .fastfood_content p{
      color: white;
      font:50px ;
      font-size: 25px;
  }

  /* delivery style start  */

  .delivery_section{
      height: 800px;
      width: 100%;
      /* background-color: rgb(115, 115, 124); */
      margin: 25px;
  }
  .delivery_section .delivery_content{
      float: right;
      width: 50%;
      margin-top: 10%;
      height: 80%;
      background-color: darkgray;
      padding: 15%;
  }

   .delivery_section .delivery_content h1 {
    font-size: 50px;
    letter-spacing: 2px;
    line-height: 2px;
    margin-bottom: 50px;
   }
.delivery_section .delivery_image{
    float: right;
    
}
.delivery_section .delivery_image img{
    border-radius: 50%;
    margin-top: 150px;
    padding: 10px;

}